@model ModelEF.Model.UserAccount

@{
    ViewBag.Title = "Xóa Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}


<h3>Bạn có chắc muốn xóa user này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusAcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusAcc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay Lại", "Index")
        </div>
    }
</div>
