@model PagedList.IPagedList<ModelEF.Model.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/Public/css/pageList.css" rel="stylesheet" />

<h2>Quản Lý Sản Phẩm  </h2>
<div class="col">
    @using (Html.BeginForm("Index", "SanPham", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group col-8">  <input type="text" name="searchString" value="" placeholder="Nhập sản phẩm cần tìm kiếm" class="form-control w-100" /></div>
        <div class="form-group col-4"> <button type="submit" class="btn btn-block btn-default">Tìm Kiếm</button></div>
    }

</div>
<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<div class="table-responsive">
    <table class="table table-bordered  table-hover">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Category.NameCategory)*@
                ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category.NameCategory)*@
                Tên Hạng Mục
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NameProduct)*@
                Tên Sản Phẩm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UnitCost)*@
                Giá Sản Phẩm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Quantity)*@
                Số Lượng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ImageProduct)*@
                Ảnh
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Mô Tả
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StatusProduct)*@
                Trạng Thái
            </th>
            <th>Thao Tác</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @* Hàm format tiền*@
            @{
                var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                var unitCost = String.Format(info, "{0:c0}", item.UnitCost);
            }

            @Html.DisplayFor(modelItem => unitCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <img src="@item.ImageProduct" alt="@item.NameProduct" style="width:200px; height: 200px; object-fit: cover" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusProduct)
        </td>
        <td>
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID })
            @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
        </td>
    </tr>
        }

    </table>
</div>
<div class="d-flex justify-content-between">
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>

